[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
bs4 = "*"
requests = "*"
python-decouple = "*"
python-dotenv = "*"
click = "*"
celery = "*"
tabulate = "*"
redis = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
