[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bs4 = "*"
requests = "*"
python-decouple = "*"
python-dotenv = "*"
psycopg2 = "*"
click = "*"

[requires]
python_version = "3.9"
